<!-- #by henry -->
<!DOCTYPE html>
<html>

<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>

<head lang="en">
    <meta charset="UTF-8">
    <title>Add student</title>
</head>
<body>
    <a href="/ims/user/">back to user management</a>
    <p></p>
    <h1>New Student Infomation</h1>

    {% if addIsDone %}
        <p style="color: blue;">
            Student added successfully.
        </p>
    {% endif %}

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form id="submit" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit">
        <input type="file" name="file" value="Upload" />
    </form>

    {% if multiAdd %}
        <form id='multiAdd' action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Sure to add following students?</p>
            <table>
                <tr>
                    <th>Student ID</th>
                    <th>Student Contact</th>
                    <th>Student Name</th>
                    <th>Student Gender</th>
                    <th>Student College</th>
                    <th>Student Major</th>
                    <th>Student Grade</th>
                    <th>Student Gpa</th>
                    <th>Student Credits</th>
                </tr>
                {% for term in terms %}
                    <tr>
                        <th>{{ term.0 }}</th>
                        <th>{{ term.1 }}</th>
                        <th>{{ term.2 }}</th>
                        <th>{{ term.3 }}</th>
                        <th>{{ term.4 }}</th>
                        <th>{{ term.5 }}</th>
                        <th>{{ term.6 }}</th>
                        <th>{{ term.7 }}</th>
                        <th>{{ term.8 }}</th>
                    </tr>
                {% endfor %}
            </table>
            <input type="button" name="multiAddConfirm" value="Confirm" onclick="javascript:f('multiAdd')">
            <input type="submit" name="multiAddCancel" value="Cancel">
            <input type="hidden" name="file">
        </form>
    {% endif %}

    {% if errorExist %}
        <p style="color: red">The followings were not successfully added.</p>
        <table>
            <tr>
                <th>FAULT</th>
                <th>Student ID</th>
                <th>Student Contact</th>
                <th>Student Name</th>
                <th>Student Gender</th>
                <th>Student College</th>
                <th>Student Major</th>
                <th>Student Grade</th>
                <th>Student Gpa</th>
                <th>Student Credits</th>
            </tr>
        {% for term in existed %}
            <tr>
                <th>{{ term.9 }}</th>
                <th>{{ term.0 }}</th>
                <th>{{ term.1 }}</th>
                <th>{{ term.2 }}</th>
                <th>{{ term.3 }}</th>
                <th>{{ term.4 }}</th>
                <th>{{ term.5 }}</th>
                <th>{{ term.6 }}</th>
                <th>{{ term.7 }}</th>
                <th>{{ term.8 }}</th>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</body>
</html>

<script type="text/javascript">
    function f(a) {
        var tables = document.getElementsByTagName("th");
        var form = document.getElementById(a);
        var s = "";
        for (var i = 9; i < tables.length; i ++) {
            s += tables[i].innerText + ",";
        };
        form.file.value = s;
        form.submit();
    }
</script>
</html>