<!DOCTYPE html>
<html>
<head>
	<title>Course Management</title>
</head>
<body>
<a href="/ims/login/">back to homepage</a>
<h1>Choose operation</h1>
{% if canAdd %}
<form id="add" action="/ims/course/add/" method="post">
    {% csrf_token %}
    <input type="button" value="Add" onclick="javascript:f('add')">
    <input type="hidden" name="first">
</form>
{% endif %}
{% if canMod %}
<form id="mod" action="/ims/course/modify/" method="post" onclick="javascript:f('mod')">
    {% csrf_token %}
    <input type="button" value="Modify">
    <input type="hidden" name="first">
</form>
{% endif %}
{% if canDel %}
<form id="del" action="/ims/course/delete/" method="post" onclick="javascript:f('del')">
    {% csrf_token %}
    <input type="button" value="Delete">
    <input type="hidden" name="first">
</form>
{% endif %}
</body>
</html>

<script type="text/javascript">
	function f(a) {
		var form = document.getElementById(a);
		form.first.value = 1;
		form.submit();
	}
</script>