<!-- #by henry -->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Delete Student</title>
</head>

<body>
	<a href="/ims/user/">back to user management</a>
	<p></p>
	<h1>Student Search</h1>
	{% if errors %}
		<ul>
			{% for error in errors %}
				<p style="color: red">{{ error }}</p>
			{% endfor %}
		</ul>
	{% endif %}
    <form id = 'formSearch' action="" method="get">
        <input type="text" name="term">
        <select id="type" name="type">
  			<option value ="id">Student ID</option>
  			<option value ="name">Student Name</option>
		</select>
        <input type="submit" value="Search Student">
    </form>

    {% if isDeleted %}
    	<p style="color: blue;">
            Student deleted successfully.
        </p>
    {% endif %}
    <form id='formSelect' action="" method="post">
    	{% csrf_token %}
	    {% if students %}
		    <p>Found {{ students | length }} students{{ students | pluralize }}.</p>
		    <table>
		    	<tr>
		        	<th>Student ID</th>
	                <th>Student Contact</th>
	                <th>Student Name</th>
	                <th>Student Gender</th>
	                <th>Student College</th>
	                <th>Student Major</th>
	                <th>Student Grade</th>
	                <th>Student Gpa</th>
	                <th>Student Credits</th>
		        </tr>
		        {% for faculties in faculties %}
		        <tr>
		        	<th>{{ student.id }}</th>
                    <th>{{ student.contact }}</th>
		        	<th>{{ student.name }}</th>
		        	<th>{{ student.gender }}</th>
		        	<th>{{ student.college }}</th>
		        	<th>{{ student.major }}</th>
		        	<th>{{ student.grade }}</th>
                    <th>{{ student.gpa }}</th>
                    <th>{{ student.credits }}</th>
		        	<th><input type="button" name="student" value="del" onclick="javascript:f('{{student.id}}')"></th>
		        </tr>
		        {% endfor %}
		    </table>
		{% else %}
			{% if inSearch %}
	    		<p>No student found.</p>
			{% endif %}
		{% endif %}
		<input type="hidden" name="deleteid" id="deleteid">
	</form>
</body>
</html>

<script type="text/javascript">
	function f(a) {
		var form = document.getElementById("formSelect");
		form.deleteid.value = a;
		form.submit();
	}
</script>