<!-- #by henry -->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Delete Student</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
        .form-group {
            padding: 1%;
        }
    </style>
</head>

<body>
<br/>
<div class="container">
    <nav class="navbar" role="navigation">
        <div>
            <ul class="nav nav-tabs navbar-left">
                <li role="presentation"><a href="/ims/home/">个人首页</a></li>
                <li role="presentation"><a href="/ims/course/">课程信息管理</a></li>
                <li role="presentation" class="active"><a href="/ims/user/">用户信息管理</a></li>
                <li role="presentation"><a href="/ims/home/profile/">个人信息管理</a></li>
                <li role="presentation"><a href="/ims/logout/">退出登录</a></li>
            </ul>
            <ul class="nav navbar-right">

            </ul>
        </div>
    </nav>

    <div class="page-header">
        <h1>Search Students for Deletion</h1>
    </div>

    {% if errors %}
        <ul>
            {% for error in errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </ul>
    {% endif %}

<form id='formSearch' action="" method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            <label for="key" class="sr-only"></label>
            <input id="key" type="text" name="term" class="form-control">
        </div>
        <div class="form-group">
            <label for="type" class="sr-only"></label>
            <select id="type" name="type" class="form-control">
                <option value ="id">ID</option>
                <option value ="name">Name</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Search Student" class="form-control">
        </div>
    </form>

    {% if isDeleted %}
        <div class="alert alert-success">
            Students Deleted Successfully.
        </div>
    {% endif %}
    <form id='formSelect' action="" method="post">
        {% csrf_token %}
        {% if students %}
            <br/>
            <div class="alert alert-success">
                Found {{ students | length }} students{{ students | pluralize }}.
            </div>
            <table class="table table-striped table-hover">
                <tr>
                    <th>ID</th>
                    <th>Contact</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>College</th>
                    <th>Major</th>
                    <th>Grade</th>
                    <th>Gpa</th>
                    <th>Credits</th>
                </tr>
                {% for student in students %}
                    <tr>
                        <th>{{ student.id }}</th>
                        <th>{{ student.contact }}</th>
                        <th>{{ student.name }}</th>
                        <th>{{ student.gender }}</th>
                        <th>{{ student.college }}</th>
                        <th>{{ student.major }}</th>
                        <th>{{ student.grade }}</th>
                        <th>{{ student.gpa }}</th>
                        <th>{{ student.credits }}</th>
                        <th><input type="button" class="btn btn-danger" name="student" value="del" onclick="javascript:f('{{student.id}}')"></th>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            {% if inSearch %}
                <br/>
                <div class="alert alert-warning">
                    No Student Found.
                </div>
            {% endif %}
        {% endif %}
        <input type="hidden" name="deleteid" id="deleteid">
    </form>
</body>
</html>

<script type="text/javascript">
    function f(a) {
        var form = document.getElementById("formSelect");
        form.deleteid.value = a;
        form.submit();
    }
</script>