<!-- #by henry -->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Delete Course</title>
</head>

<body>
	<a href="/ims/user/">back to user management</a>
	<p></p>
	<h1>Faculty Search</h1>
	{% if errors %}
		<ul>
			{% for error in errors %}
				<p style="color: red">{{ error }}</p>
			{% endfor %}
		</ul>
	{% endif %}
    <form id = 'formSearch' action="" method="get">
        <input type="text" name="term">
        <select id="type" name="type">
  			<option value ="id">Faculty ID</option>
  			<option value ="name">Faculty Name</option>
		</select>
        <input type="submit" value="Search Faculty">
    </form>

    {% if isDeleted %}
    	<p style="color: blue;">
            Faculty deleted successfully.
        </p>
    {% endif %}
    <form id='formSelect' action="" method="post">
    	{% csrf_token %}
	    {% if faculties %}
		    <p>Found {{ faculties | length }} faculties{{ faculties | pluralize }}.</p>
		    <table>
		    	<tr>
		        	<th>Faculty ID</th>
                    <th>Faculty Contact</th>
                    <th>Faculty Name</th>
                    <th>Faculty Gender</th>
                    <th>Faculty College</th>
                    <th>Faculty Major</th>
                    <th>Faculty Degree</th>
                    <th>Faculty Title</th>
		        </tr>
		        {% for faculties in faculties %}
		        <tr>
		        	<th>{{ faculty.id }}</th>
                    <th>{{ faculty.contact }}</th>
		        	<th>{{ faculty.name }}</th>
		        	<th>{{ faculty.gender }}</th>
		        	<th>{{ faculty.college }}</th>
		        	<th>{{ faculty.major }}</th>
		        	<th>{{ faculty.degree }}</th>
                    <th>{{ faculty.title }}</th>
		        	<th><input type="button" name="faculty" value="del" onclick="javascript:f('{{faculty.id}}')"></th>
		        </tr>
		        {% endfor %}
		    </table>
		{% else %}
			{% if inSearch %}
	    		<p>No faculty found.</p>
			{% endif %}
		{% endif %}
		<input type="hidden" name="deleteid" id="deleteid">
	</form>
</body>
</html>

<script type="text/javascript">
	function f(a) {
		var form = document.getElementById("formSelect");
		form.deleteid.value = a;
		form.submit();
	}
</script>