<html>
<head>
    <title>Delete Course</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style>
        .form-group {
            padding: 1%;
        }
    </style>
</head>
<body>
<br/>
<div class="container">
    <nav class="navbar" role="navigation">
        <div>
            <ul class="nav nav-tabs navbar-left">
                <li role="presentation"><a href="/ims/home/">个人首页</a></li>
                <li role="presentation" class="active"><a href="/ims/course/">课程信息管理</a></li>
                <li role="presentation"><a href="/ims/user/">用户信息管理</a></li>
                <li role="presentation"><a href="/ims/home/profile/">个人信息管理</a></li>
                <li role="presentation"><a href="/ims/logout/">退出登录</a></li>
            </ul>
            <ul class="nav navbar-right">

            </ul>
        </div>
    </nav>

    <div class="page-header">
        <h1>Search Courses for Deletion</h1>
    </div>

    {% if errors %}
        <ul>
            {% for error in errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </ul>
    {% endif %}

    <form id='formSearch' action="" method="post" class="form-inline">
        {% csrf_token %}
        <div class="form-group">
            <label for="key" class="sr-only"></label>
            <input id="key" type="text" name="term" class="form-control">
        </div>
        <div class="form-group">
            <label for="type" class="sr-only"></label>
            <select id="type" name="type" class="form-control">
                <option value ="course_id">Course ID</option>
                <option value ="course_name">Course Name</option>
                <option value="credits">Credits</option>
                <option value="semester">Semester</option>
                <option value="textbook">Textbook</option>
                <option value="college">College</option>
                <option value="course_type">Type</option>
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Search Course" class="form-control">
        </div>
    </form>

    {% if isDeleted %}
        <div class="alert alert-success">
            Courses Deleted Successfully.
        </div>
    {% endif %}
    <form id='formSelect' action="" method="post">
        {% csrf_token %}
        {% if courses %}
            <br/>
            <div class="alert alert-success">
                Found {{ courses | length }} course{{ courses | pluralize }}.
            </div>
            <table class="table table-striped table-hover">
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Credits</th>
                    <th>Semester</th>
                    <th>Textbook</th>
                    <th>College</th>
                    <th>Type</th>
                </tr>
                {% for course in courses %}
                    <tr>
                        <th>{{ course.course_id }}</th>
                        <th>{{ course.name }}</th>
                        <th>{{ course.credits }}</th>
                        <th>{{ course.semester }}</th>
                        <th>{{ course.textbook }}</th>
                        <th>{{ course.college }}</th>
                        <th>{{ course.course_type }}</th>
                        <th><input type="button" class="btn btn-danger" name="course" value="del" onclick="javascript:f('{{course.course_id}}')"></th>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            {% if inSearch %}
                <div class="alert alert-warning">
                    No Course Found.
                </div>
            {% endif %}
        {% endif %}
        <input type="hidden" name="deleteid" id="deleteid">
    </form>
</div>
</body>
</html>

<script type="text/javascript">
    function f(a) {
        var form = document.getElementById('formSelect');
        form.deleteid.value = a;
        form.submit();
    }
</script>
