<!-- #by henry -->

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Delete Student</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
<br/>
<div class="container">
    <nav class="navbar" role="navigation">
        <div>
            <ul class="nav nav-tabs navbar-left">
                <li role="presentation"><a href="/ims/home/">个人首页</a></li>
                <li role="presentation"><a href="/ims/course/">课程信息管理</a></li>
                <li role="presentation" class="active"><a href="/ims/user/">用户信息管理</a></li>
                <li role="presentation"><a href="/ims/home/profile/">个人信息管理</a></li>
                <li role="presentation"><a href="/ims/logout/">退出登录</a></li>
            </ul>
            <ul class="nav navbar-right">

            </ul>
        </div>
    </nav>

	<h1>Search Students for Deletion</h1>
	{% if errors %}
		<ul>
			{% for error in errors %}
				<p style="color: red">{{ error }}</p>
			{% endfor %}
		</ul>
	{% endif %}
    <form id = 'formSearch' action="" method="post">
        <input type="text" name="term">
        <select id="type" name="type">
  			<option value ="id">ID</option>
  			<option value ="contact">Contact</option>
  			<option value ="name">Name</option>
  			<option value ="gender">Gender</option>
  			<option value ="college">College</option>
  			<option value ="major">Major</option>
  			<option value ="grade">Grade</option>
  			<option value ="gpa">Gpa</option>
  			<option value ="credits">Credits</option>
  			<option value ="isSpecial">IsSpecial</option>
		</select>
        <input type="submit" value="Search Student">
    </form>

    {% if isDeleted %}
    	<p style="color: blue;">
            Student deleted successfully.
        </p>
    {% endif %}
    <form id='formSelect' action="" method="post">
    	{% csrf_token %}
	    {% if students %}
		    <p>Found {{ students | length }} students{{ students | pluralize }}.</p>
		    <table>
		    	<tr>
			        <th>ID</th>
                	<th>Contact</th>
                	<th>Name</th>
                	<th>Gender</th>
                	<th>College</th>
                	<th>Major</th>
                	<th>Grade</th>
                	<th>Gpa</th>
                	<th>Credits</th>
                	<th>IsSpecial</th>
			    </tr>
			        {% for student in students %}
			        <tr>
			        	<th>{{ student.id }}</th>
	                    <th>{{ student.contact }}</th>
			        	<th>{{ student.name }}</th>
			        	<th>{{ student.gender }}</th>
			        	<th>{{ student.college }}</th>
			        	<th>{{ student.major }}</th>
			        	<th>{{ student.grade }}</th>
	                    <th>{{ student.gpa }}</th>
	                    <th>{{ student.credits }}</th>
	                    <th>{{ student.isSpecial }}</th>
		        	<th><input type="button" name="student" value="del" onclick="javascript:f('{{student.id}}')"></th>
		        </tr>
		        {% endfor %}
		    </table>
		{% else %}
			{% if inSearch %}
	    		<p>No student found.</p>
			{% endif %}
		{% endif %}
		<input type="hidden" name="deleteid" id="deleteid">
	</form>
</body>
</html>

<script type="text/javascript">
	function f(a) {
		var form = document.getElementById("formSelect");
		form.deleteid.value = a;
		form.submit();
	}
</script>