<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>

</head>

<style>
    body {
        font: 20px sans-serif;
        overflow: hidden;
    }
    .container {
        padding: 20%;
        padding-top: 15%;
        margin-right: auto;
        margin-left: auto;
        align-content: center;
    }

    .container form {
        padding: 10%;
        padding-right: 5%;
        padding-top: 2%;
        padding-bottom: 2%;
        align-content: center;
    }

    .fieldWrapper {
        margin: auto;
        padding: 5%;
    }

</style>

<body>
<div class="container">
    <div class="panel panel-info" style="opacity: 0.8">
        <div class="panel panel-heading" align="center">
            忘记密码
        </div>
        <div class="panel-body">
            <div class="form-group" style="width: 100%;">
                <form role="form" action="../reset_pwd_mail/" method="post">
                    <div class="input-group input-group-lg" style="padding-right: 5%">
                        <span class="input-group-addon">用户名</span>
                            {{ form.username }}
                    </div>
                    {% if form.username.errors %}
                        <div class="alert alert-danger">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}

                    <br/>
                    <div class="btn-group-lg" align="center">
                        <button type="submit" class="btn btn-default">发送重置密码邮件</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>

    <script>
        //make the size of django-rendered forms suits form-control
        $("#id_username").attr("class", "form-control");
    </script>