<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学生界面</title>
    <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
</head>
<body>
    <p>Panel for Student</p>
    <br/>


    <div id="changInfo">
        <form class="form-horizontal" action="../changeStudentInfo/" method="GET" id="changeInfo_form" onSubmit="return checkStudentInfo();">
            {% csrf_token %}

              <div class="form-group">
                <label class="col-sm-2 control-label">学号</label>
                <div class="col-sm-10">
                    <input class="form-control-static" name="id" id="inputId"  value="{{studentInfo.id}}" readonly>
                </div>
              </div>

            <div class="form-group">
            <label class="col-sm-2 control-label">联系方式</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="contact" id="inputContact" value={{studentInfo.contact}}>
            </div>
            </div>

            <div class="form-group">
            <label class="col-sm-2 control-label">姓名</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="name" id="inputName" value={{studentInfo.name}}>
            </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">性别</label>
                    <label class="radio-inline">
                      <input type="radio" name="gender" id="inlineRadio1" value=1 {% if studentInfo.gender %} checked {% endif %}> 男
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="gender" id="inlineRadio2" value=0 {% if not studentInfo.gender %} checked {% endif %}> 女
                    </label>

            </div>
            <div class="form-group">
            <label class="col-sm-2 control-label">学院</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='college' id="inputCollege" value={{studentInfo.college}}>
            </div>
            </div>

            <div class="form-group">
            <label class="col-sm-2 control-label">专业</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name='major' id="inputMajor" value={{studentInfo.major}}>
            </div>
            </div>

            <div class="form-group">
            <label class="col-sm-2 control-label">年级</label>
            <div class="col-sm-10">
              <input class="form-control-static" name="grade" value="{{studentInfo.grade}}" id="inputGrade">
            </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">学分</label>
                <div class="col-sm-10">
                    <input class="form-control-static" name="credits" id="inputCredits" value="{{studentInfo.credits}}" readonly>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">GPA</label>
                <div class="col-sm-10">
                    <input class="form-control-static" name="gpa" id="inputGPA" value="{{studentInfo.gpa}}" readonly>
                </div>
            </div>

             <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">确认修改</button>
                </div>
              </div>
            <p id="indicatorFromJsOnInfo"></p>
            <p id="indicatorFormServerOnInfo">
                    {% if infoErrors %}
                        <p style="color: red;">
                            Please correct the error{{ infoErrors|pluralize }} below.
                            </br>
                            {{ infoErrors}}
                        </p>
                    {% endif %}
                    {% if infoSuccess %}
                        <p style="color: red;">
                            修改成功！
                        </p>
                    {% endif %}
            </p>
        </form>
    </div>

    </br>

    <div id="changPasswd">
        <form role="form" class="form-horizontal"  id="changePasswd_form" onsubmit="return checkPasswd()" action="../changePasswd/" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label  class="col-sm-2 control-label">请输入密码</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" name="passwd1" id="inputPasswd" placeholder="New Password"/>
                </div>
              </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">再次输入密码</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" name="passwd2" id="repytePasswd" placeholder="Retype Password"/>
                </div>
              </div>
            <p id="indicatorFromJsOnpasswd"></p>
            <p id="indicatorFormServerOnPasswd">
                {% if passwdErrors %}
{#                    **<ul>**#}
{#                        **{% for error in studentInfo.passwdErrors %}**#}
{#                        **<li>{{ error }}</li>**#}
{#                        **{% endfor %}**#}
{#                    **</ul>**#}
                    密码长度为5-20位，两次输入请保持一致！
                {% endif %}
            </p>
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" >确认修改</button>
            </div>
        </form>
    </div>

    <a href="../logout/">Logout>>></a>
</body>
    <script>
        function checkStudentInfo(){
            var id = $('#inputId').val();
            var contact = $('#inputContact').val();
            var name = $('#inputName').val();
            var college = $('#inputCollege').val();
            var major = $('#inputMajor').val();
            var grade = $('#inputGrade').val();
            var credits = $('#inputCredits').val();
            var gpa = $('inputGPA').val();
            var valid = true;
            var indicator = $('#indicatorFromJsOnInfo');

            if(id.length != 10 || isNaN(id)) {
                indicator.append("</br> 学号为10位数字！");
                valid = false;
            }
            if(contact.length > 11 || contact.length == 0 || isNaN(contact)) {
                indicator.append("</br> 手机号码为0-11位数字！");
                valid = false;
            }
            if(name.length > 20 || name.length == 0) {
                console.log("name too long!");
                indicator.append("</br> 姓名最大长度为20位！");
                valid = false;
            }
            if(college.length > 50 || college.length == 0) {
                indicator.append("</br> 学院最大长度为50位！");
                valid = false;
            }
            if(major.length > 50 || major.length == 0) {
                indicator.append("</br> 专业最大长度为50位！");
                valid = false;
            }


            return valid;

        }


        function checkPasswd() {
            //TODO
            var pass1 = $('#inputPasswd').val();
            var pass2 = $('#repytePasswd').val();
            var indicatorFromJs = $('#indicatorFromJs');
            if (pass1 != pass2) {
                indicatorFromJs.html("两次输入的密码不一致！");
                return false;
            }
            else {
                if (pass1.length < 5 || pass1.length > 20) {
                    indicatorFromJs.html("密码长度在5-20之间");
                    return false;
                }
                else {
                    indicatorFromJs.html("");
                    return true;
{#                    var userid = $('#idMessage').html();#}
{#                    console.log("userid" + userid);#}
{#                    $.ajaxSetup({#}
{#                         data: {csrfmiddlewaretoken: '{{ csrf_token }}' }#}
{#                    });#}
{#                    $.post("../changePasswd/", { id: userid, passwd: pass1});#}
                }
            }
        }
    </script>
</html>