<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>个人信息</title>
    <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="../../../static/js/jquery.min.js"></script>
    <script src="../../../static/js/bootstrap.min.js"></script>
</head>
<body>
<br/>
<div class="container">
    <nav class="navbar" role="navigation">
        <div>
            <ul class="nav nav-tabs navbar-left">
                <li role="presentation"><a href="/ims/home/">个人首页</a></li>
                {% if isStudent %}
                    <li role="presentation"><a href="#">查看个人课表</a></li>
                {% elif isFaculty %}
                    <li role="presentation"><a href="#">查看开课情况</a></li>
                {% elif isAdmin %}
                    <li role="presentation"><a href="/ims/course/">课程信息管理</a></li>
                    <li role="presentation"><a href="/ims/user/">用户信息管理</a></li>
                {% endif %}
                {% if isSpecial %}
                    {% if manageCourse %}
                        <li role="presentation"><a href="/ims/course/">课程信息管理</a></li>
                    {% endif %}
                    {% if manageStudent or manageFaculty or manageAdmin %}
                        <li role="presentation"><a href="/ims/user/">用户信息管理</a></li>
                    {% endif %}
                {% endif %}
                <li role="presentation" class="active"><a href="/ims/home/profile/">个人信息管理</a></li>
                {% if isSuper %}
                    <li role="presentation"><a href="/ims/log/">系统日志管理</a></li>
                {% endif %}
                <li role="presentation"><a href="/ims/logout/">退出登录</a></li>
            </ul>
            <ul class="nav navbar-right">

            </ul>
        </div>
    </nav>

    <div class="page-header">
        <h1>个人信息</h1>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div id="changePhoto">
                {% if userInfo.photo %}
                    <img src="/ims{{ userInfo.photo.url }}" width="200" height="200" />
                {% endif %}
                <form action="./changePhoto/" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <p>
                        <input id="id_image" type="file" class="" name="photo" accept="image/*">
                    </p>
                    <input type="submit" role="button" class="btn btn-default" value="确认修改" />
                </form>
                {% if photoErrors %}
                    请上传图片文件，大小不超过2M。
                {% endif %}
            </div>
        </div>
        <div class="col-sm-9">
            <div id="changInfo">
                <form class="form-horizontal" action="./changeUserInfo/" method="GET" id="changeInfo_form" onSubmit="return checkuserInfo();">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            {% if isStudent %}学号 {% endif %}
                            {% if isFaculty or isAdmin%}工号 {% endif %}
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control-static" name="id" id="inputId"  value="{{userInfo.id}}" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">联系方式</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="contact" id="inputContact" value="{{userInfo.contact}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="inputName" value="{{userInfo.name}}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="inlineRadio1" value=1 {% if userInfo.gender %} checked {% endif %}> 男
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="gender" id="inlineRadio2" value=0 {% if not userInfo.gender %} checked {% endif %}> 女
                        </label>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学院</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name='college' id="inputCollege" value="{{userInfo.college}}" {% if isAdmin%}  readonly {% endif %} >
                        </div>
                    </div>

                    {% if isStudent or isFaculty %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">专业</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name='major' id="inputMajor" value="{{userInfo.major}}">
                            </div>
                        </div>
                    {% endif %}

                    {% if isStudent %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">年级</label>
                            <div class="col-sm-10">
                                <input class="form-control-static" name="grade" value="{{userInfo.grade}}" id="inputGrade">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">学分</label>
                            <div class="col-sm-10">
                                <input class="form-control-static" name="credits" id="inputCredits" value="{{userInfo.credits}}" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">GPA</label>
                            <div class="col-sm-10">
                                <input class="form-control-static" name="gpa" id="inputGPA" value="{{userInfo.gpa}}" readonly>
                            </div>
                        </div>
                    {% endif %}

                    {% if isFaculty %}
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Degree</label>
                            <div class="col-sm-10">
                                <input class="form-control-static" name="degree" id="inputDegree" value="{{userInfo.degree}}" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input class="form-control-static" name="title" id="inputTitle" value="{{userInfo.title}}" readonly>
                            </div>
                        </div>
                    {% endif %}

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">确认修改</button>
                        </div>
                    </div>
                    <p id="indicatorFromJsOnInfo"></p>
                    <p id="indicatorFormServerOnInfo">
                        {% if infoErrors %}
                            <p style="color: red;">
                                Please correct the error{{ infoErrors|pluralize }} below.
                                </br>
                                {{ infoErrors}}
                            </p>
                        {% endif %}
                    {% if infoSuccess %}
                        <p style="color: red;">
                            修改成功！
                        </p>
                    {% endif %}
                    </p>
                </form>
            </div>
            <br/>
            <div id="changPasswd">
                <form role="form" class="form-horizontal"  id="changePasswd_form" onsubmit="return checkPasswd()" action="./changePasswd/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">请输入密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="passwd1" id="inputPasswd" placeholder="New Password"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-2 control-label">再次输入密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" name="passwd2" id="repytePasswd" placeholder="Retype Password"/>
                        </div>
                    </div>
                    <p id="indicatorFromJsOnpasswd"></p>
                    <p id="indicatorFormServerOnPasswd">
                        {% if passwdErrors %}
                            {#                    **<ul>**#}
                            {#                        **{% for error in userInfo.passwdErrors %}**#}
                            {#                        **<li>{{ error }}</li>**#}
                            {#                        **{% endfor %}**#}
                            {#                    **</ul>**#}
                            密码长度为5-20位，两次输入请保持一致！
                        {% endif %}
                    </p>
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" >确认修改</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    function checkuserInfo(){
        var id = $('#inputId').val();
        var contact = $('#inputContact').val();
        var name = $('#inputName').val();
        var college = $('#inputCollege').val();


        {#            var grade = $('#inputGrade').val();#}
        {#            var credits = $('#inputCredits').val();#}
        {#            var gpa = $('inputGPA').val();#}

        var valid = true;
        var indicator = $('#indicatorFromJsOnInfo');
        indicator.html("")
        $("#indicatorFormServerOnPasswd").html("")

        {% if isStudent %} if(isNaN(id) || id.length != 10)
        {
            indicator.append("</br> 请输入学号，学号为10位数字！");
            valid = false;
        }
        {% endif %}
        {% if isFaculty %} if(isNaN(id) || id.length != 6)
        {
            indicator.append("</br> 请输入工号，工号为6位数字！");
            valid = false;
        }
        {% endif %}
        {% if isAdmin %} if(isNaN(id) || id.length != 3)
        {
            indicator.append("</br> 请输入工号，工号为3位数字！");
            valid = false;
        }
        {% endif %}

        if(contact.length > 11 || contact.length == 0 || isNaN(contact)) {
            indicator.append("</br> 请输入手机号码，手机号码为1-11位数字！");
            valid = false;
        }
        if(name.length > 20 || name.length == 0) {
            console.log("name too long!");
            indicator.append("</br> 请输入姓名，姓名最大长度为20位！");
            valid = false;
        }
        if(college.length > 50 || college.length == 0) {
            indicator.append("</br> 请输入学院，学院最大长度为50位！");
            valid = false;
        }

        {% if isStudent or isFaculty %}
            var major = $('#inputMajor').val();
            if(major.length > 50 || major.length == 0) {
                indicator.append("</br> 请输入专业，专业最大长度为50位！");
                valid = false;
            }
        {% endif %}


        return valid;

    }


    function checkPasswd() {
        var pass1 = $('#inputPasswd').val();
        var pass2 = $('#repytePasswd').val();
        var indicatorFromJs = $('#indicatorFromJsOnpasswd');
        if (pass1 != pass2) {
            indicatorFromJs.html("两次输入的密码不一致！");
            return false;
        }
        else {
            if (pass1.length < 5 || pass1.length > 20) {
                indicatorFromJs.html("密码长度在5-20之间");
                return false;
            }
            else {
                indicatorFromJs.html("");
                $("#indicatorFormServerOnInfo").html("")
                return true;
                {#                    var userid = $('#idMessage').html();#}
                {#                    console.log("userid" + userid);#}
                {#                    $.ajaxSetup({#}
                {#                         data: {csrfmiddlewaretoken: '{{ csrf_token }}' }#}
                {#                    });#}
                {#                    $.post("../changePasswd/", { id: userid, passwd: pass1});#}
            }
        }
    }
</script>
</html>