<!-- #by henry -->

<!DOCTYPE html>
<html>
<head>
    <title>Course Management</title>
</head>

<body>
<a href="/ims/">back to homepage</a>
<h1>Choose operation</h1>
<form id="add_faculty" action="/ims/course/ims/user/add_faculty/" method="post">
    {% csrf_token %}
    <input type="button" value="Add_faculty" onclick="javascript:f('add')">
    <input type="hidden" name="first">
</form>
<form id="mod_faculty" action="/ims/course/modify_faculty/" method="post" onclick="javascript:f('mod')">
    {% csrf_token %}
    <input type="button" value="Modify_faculty">
    <input type="hidden" name="first">
</form>
<form id="del_faculty" action="/ims/course/delete_faculty/" method="post" onclick="javascript:f('del')">
    {% csrf_token %}
    <input type="button" value="Delete_faculty">
    <input type="hidden" name="first">
</form>
<form id="add_student" action="/ims/course/ims/user/add_student/" method="post">
    {% csrf_token %}
    <input type="button" value="Add_student" onclick="javascript:f('add')">
    <input type="hidden" name="first">
</form>
<form id="mod_student" action="/ims/course/modify_student/" method="post" onclick="javascript:f('mod')">
    {% csrf_token %}
    <input type="button" value="Modify_student">
    <input type="hidden" name="first">
</form>
<form id="del_student" action="/ims/course/delete_student/" method="post" onclick="javascript:f('del')">
    {% csrf_token %}
    <input type="button" value="Delete_student">
    <input type="hidden" name="first">
</form>
</body>
</html>

<script type="text/javascript">
    function f(a) {
        var form = document.getElementById(a);
        form.first.value = 1;
        form.submit();
    }
</script>

</html>