<!DOCTYPE html>
<html>
    <head>
        <title>{{ pagename }}</title>
        <link rel="stylesheet" href="/static/css/uikit.min.css" />
        <script src="/static/js/jquery-1.11.3.js"></script>
        <script src="/static/js/uikit.min.js"></script>
        
        <link rel="stylesheet" href="/static/css/components/progress.min.css">
        
        <link rel="stylesheet" href="/static/css/components/datepicker.min.css">
        <script src="/static/js/components/datepicker.min.js"></script>

        <link rel="stylesheet" href="/static/css/components/autocomplete.min.css">
        <script src="/static/js/components/autocomplete.min.js"></script>
        
        <link rel="stylesheet" href="/static/css/components/sortable.min.css">
        <script src="/static/js/components/sortable.min.js"></script>
        
        <link rel="stylesheet" href="/static/css/components/form-advanced.min.css">
        <script src="/static/js/components/form-advanced.min.js"></script>
        
        <link rel="stylesheet" href="/static/css/components/accordion.min.css">
        <script src="/static/js/components/accordion.min.js"></script>
        <script src="/static/js/components/timepicker.js"></script>
    </head>
        <body>
        <div class="tm-middle">
            <div class="uk-container uk-container-center">

                <div class="uk-grid" data-uk-grid-margin>
                    <div class="tm-sidebar uk-width-medium-1-4 uk-hidden-small">

                        <ul class="tm-nav uk-nav" data-uk-nav>

                            <li>Information Part</li>
                            <li><a href="/class_list/">class list</a></li>
                            <li><a href="description-list.html">Description list</a></li>
                            <li><a href="table.html">Table</a></li>
                            <li><a href="form.html">Form</a></li>

                            <li class="uk-nav-header">Function Part</li>

                            <div class="uk-accordion" data-uk-accordion>

                            <h3 class="uk-accordion-title">Online Test</h3>
                                <div class="uk-accordion-content">
                            <li><a href="/student/ViewPaper/">View Paper</a></li>
                            </div>
                                </div>
                        </ul>

                    </div>


    <div class="tm-main uk-width-medium-3-4">