<!DOCTYPE html>
<html lang="zh-cn">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    
    
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>培养方案制定</title>
  
    <!-- Bootstrap -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	    
	
	<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="icon" href="http://v3.bootcss.com/favicon.ico">
  
    <!-- 引入下面两个库让 IE8 支持 HTML5 元素 -->
    <!-- 警告: Respond.js 通过 file:// 浏览的时候不能正常工作！-->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
      <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style type="text/css"></style>
	</head>
	<body onload = repeatt()>
	
	
	<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
		<span class="sr-only">切换导航</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">选课子系统</a>
	</div>
	<div class="collapse navbar-collapse" id="example-navbar-collapse">
		<ul class="nav navbar-nav">
		
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					培养方案模块 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a id = "set_training_plan"href="http://127.0.0.1:8000/trainning_plan">培养方案制定</a></li>
					<li class="divider">
					<li><a id = "check_training_plan" href="http://127.0.0.1:8000/show_plan">查看培养方案</a></li>
					
				</ul>
			</li>
			
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					选课模块 <b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a id = "choose_class"href="http://127.0.0.1:8000/choose_class">选课</a></li>
					<li class="divider">
					<li><a id = "class_search"href="http://127.0.0.1:8000/course_search">选课搜索引擎</a></li>
					<li class="divider">
					<li><a id = "check_class_table"href="http://127.0.0.1:8000/show_class">查看课表</a></li>
					
				</ul>
			</li>
			<li><a id = "teacher_model"href="#">教师模块</a>
			<li><a id = "admin_model"href="http://127.0.0.1:8000/admin_page1">管理员模块</a>
			<li><a id = "return_daohang"href="#">返回导航</a>
			
			
			
			
			
	</div>
	</nav>
	
	
	<div class="container">
	<div class="row">
		<p>学生姓名：<strong>{{student.name}}</strong> 学号：<strong>{{student.id}}</strong>  学院：<strong>{{student.college}}</strong>  专业：<strong>{{student.major}} </strong>
		
		</p>
	</div>
	<div  id="necessary"  class="row">
	<div class="col-md-12" style="background-color: #dedef8; 
         box-shadow: inset 1px -1px 1px #444, 
         inset -1px 1px 1px #444;"method="POST">
	<table class="table table-hover">
    <caption>必修课程选择</caption>
    <thead>
        <tr>
         <th>课程名</th>
         <th>详情</th>
         <th>课程代码</th>
         <th>上课学期</th>
		 <th>学分</th>
		 <th>选择</th>
        </tr>
    </thead>
    <tbody>

		{% for class in necessary %}  
        <tr>
			<td><a href="http://127.0.0.1:8000/class_choose/?xh={{student.id}}&xkkh={{class.id}}">{{class.name}}</a></td>
			<td><a href="http://127.0.0.1:8000/class_info/?classId={{class.id}}">{{class.name}}</a></td>
			<td>{{class.id}}</td>
			
			<td>{{class.semester}}</td>

			<td>{{class.credits}}</td>
			<td>
				<input id = {{class.id}} type="checkbox">
			</td>
        </tr>
		{% endfor %}  

      
    </tbody>
	</table>
	
	</div>
	</div>
	
	
	<div  id="alter"  class="row">
	<div class="col-md-12" style="background-color: #dedef8; 
         box-shadow: inset 1px -1px 1px #444, 
         inset -1px 1px 1px #444;">
	<table class="table table-hover">
    <caption>选修课程选择</caption>
    <thead>
        <tr>
			<th>课程名</th>
			<th>详情</th>
			<th>课程代码</th>
			<th>上课学期</th>
			<th>学分</th>
			<th>选择</th>
        </tr>
    </thead>
    <tbody>

		{% for class2 in alter %}  
        <tr>
			<td><a href="http://127.0.0.1:8000/class_choose/?xh={{student.id}}&xkkh={{class2.id}}">{{class2.name}}</a></td>
			<td><a href="http://127.0.0.1:8000/class_info/?classId={{class2.id}}">{{class2.name}}</a></td>
			<td>{{class2.id}}</td>
			<td>{{class2.semester}}</td>
			<td>{{class2.credits}}</td>
			<td>
				<input id={{class2.id}} type="checkbox">
			</td>
        </tr>
		{% endfor %}  

      
    </tbody>
	</table>
	</div>
	</div>
	
	<div  id="common"  class="row">
	<div class="col-md-12" style="background-color: #dedef8; 
         box-shadow: inset 1px -1px 1px #444, 
         inset -1px 1px 1px #444;">
	<table class="table table-hover">
    <caption>通识课程已选择列表</caption>
    <thead>
        <tr>
			<th>课程名</th>
			<th>详情</th>
			<th>课程代码</th>
			<th>上课学期</th>
			<th>学分</th>
			<th>选择</th>
        </tr>
    </thead>
    <tbody>

		{% for class3 in common %}  
        <tr>
			<td><a href="http://127.0.0.1:8000/class_choose/?xh={{student.id}}&xkkh={{class3.id}}">{{class3.name}}</a></td>
			<td><a href="http://127.0.0.1:8000/class_info/?classId={{class3.id}}">{{class3.name}}</a></td>
			<td>{{class3.id}}</td>
			<td>{{class3.semester}}</td>
			<td>{{class3.credits}}</td>
		 
        </tr>
		{% endfor %}  

      
    </tbody>
	</table>
	</div>
	</div>
	
	<div  id="complete"  class="row">
	<div class="col-md-12" style="background-color: #dedef8; 
         box-shadow: inset 1px -1px 1px #444, 
         inset -1px 1px 1px #444;">
		 <p> 您当前的培养方案完成度</p>
		 <dl class="dl-horizontal">
			<dt>必修课程所需学分</dt>
			<dd>{{credit.necessary1}}</dd>
			<dt>必修课程已选学分</dt>
			<dd>{{credit.necessary2}}</dd>
			<dt>选修课程所需学分</dt>
			<dd>{{credit.alter1}}</dd>
			<dt>选修课程已选学分</dt>
			<dd>{{credit.alter2}}</dd>
			<dt>通识课程所需学分</dt>
			<dd>{{credit.common1}}</dd>
			<dt>通识课程已选学分</dt>
			<dd>{{credit.common2}}</dd>
		</dl>
		 
		 
	</div>
		
	</div>

	
	<div  id="submit"  class="row">
	<div class="col-md-6" >
	</div>
	
	
	<div class="col-md-6" >
		 <div class="btn-group" method="POST">
			<input id = "submitData" class="btn btn-default" type="submit" value="提交">
			<button type="button" class="btn btn-default">直接退出</button>
		</div>
	</div>
	
	
	</div>
	
	<form method = 'POST' id = 'submitForm' >
	{% csrf_token %}
      <input type="hidden" name="hiddenInput" value="null" id="choosed"/>
    </form>
	
	
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">培养方案制定</h4>
          </div>
          <div class="modal-body">
            将所选课程加入培养方案？
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id = "chooseClass" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
          </div>
        </div>
      </div>
    </div>
	
	
	<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">培养方案结果</h4>
          </div>
          <div class="modal-body">
            {{flag}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            <button id = "chooseClass2" type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
          </div>
        </div>
      </div>
    </div>
	
	<script language="javascript">
	
		$('#submitData').on('click', function() { 
			
			$('#myModal').modal('show');
		})
		$('#chooseClass').on('click', function() { 
        var list = {{List|safe}}
        var choosedClass = ""
		
        for (var i = list.length - 1; i >= 0; i--) {
          if($('#' + list[i]).is(':checked')) {
            choosedClass = choosedClass + list[i] + "A";
          }
        };
        //document.getElementByName('hiddenInput').value = choosedClass;
		document.getElementById('choosed').value = choosedClass;
        document.getElementById('submitForm').submit();
      })
	  
		loadd()
		function loadd(){
		var list2 = {{List2|safe}}
		for (var i = list2.length - 1; i >= 0; i--) {
          
		  document.getElementById(list2[i]).checked =true; 
        };
		}
		
		var t
		var showed = 0
		
		function repeatt() {
		
		var content = "{{flag}}"
		
		
		if (content != "" && showed == 0) {
			showed = 1;
			$('#myModal1').modal('show');
		} 
		t = setTimeout("repeatt()", 1000)
		window.onload = repeatt;
	  }
	        var LocString = String(window.document.location.href); 
		function getQueryStr(str) { 
			var rs = new RegExp("(^|)" + str + "=([^&]*)(&|$)", "gi").exec(LocString), tmp; 
			if (tmp = rs) { 
			return tmp[2]; 
			} 
			// parameter cannot be found 
			return ""; 
		} 
		
		var div = document.getElementById('set_training_plan'); 
		div.setAttribute("href", "http://127.0.0.1:8000/trainning_plan/?id="+getQueryStr("id")); 
		var div2 = document.getElementById('check_training_plan'); 
		div2.setAttribute("href", "http://127.0.0.1:8000/trainning_plan/?id="+getQueryStr("id")); 
		var div3 = document.getElementById('class_search'); 
		div3.setAttribute("href", "http://127.0.0.1:8000/course_search/?id="+getQueryStr("id")); 
		var div4 = document.getElementById('check_class_table'); 
		div4.setAttribute("href", "http://127.0.0.1:8000/show_class/?xh="+getQueryStr("id")); 
		var div5 = document.getElementById('teacher_model'); 
		div5.setAttribute("href", "http://127.0.0.1:8000/teacher_model/?id="+getQueryStr("id")); 
		var div6 = document.getElementById('admin_model'); 
		div6.setAttribute("href", "http://127.0.0.1:8000/ad1/?id="+getQueryStr("id")); 
		var div7 = document.getElementById('return_daohang'); 
		div7.setAttribute("href", "http://127.0.0.1:8000/daohang/?id="+getQueryStr("id")); 
		var div8 = document.getElementById('choose_class'); 
		div8.setAttribute("href", "http://127.0.0.1:8000/trainning_plan/?id="+getQueryStr("id"));  
	</script>
	
	
	
	
	
	
	
	
	

	</div>
  </body>
</html>