{%extends "base.html"%} 

{%block title%}main{%endblock%}
{%block content%} 
      <div class="col-md-10">
        <div class="col-md-4">
        </div>
        <form action="teacher" method="post">

          <button type="submit" class="btn btn-lg btn-primary" style="font-size: 3em;position: relative; bottom: -150px;"> teacher </button>
        </form>
        <div class="col-md-4">
        </div>
          <form action="admin" method="post">

            <button type="submit" class="btn btn-lg btn-success" style="font-size: 3em; position: relative;bottom: -150px;"> admin </button>
          </form>
        
        
      </div>  
{%endblock%}
